.common {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 }


.header {
    background-color: rgb(173, 216, 230);
    font-color: black;
    height: 100px;
    line-height: 100px;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 10px
 }

#Nav a{
     color: black;
     text-decoration: none;
 }

nav {
    text-align: left;
    background-color: rgb(173, 216, 230);
    font-color: black;
    height: 20px;
    line-height: 20px;
    font-size: 20px:
    border: 2px solid black;
 }


#Nav a:hover {
    color: blue;
    text-decoration: underline;
}

 .body {
    text.align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(173, 216, 230);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
 }


 .footer {
    text.align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(173, 216, 230);
    font-color: grey;
    margin-top: 5px;
 }


img {
    text-align: center;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
 }


 .transparent_img {
        opacity: 0.7; /* 70% transparency */
    }